# Pandas Library Basics
We are going to learn how to use Pandas library, how to install and some baics as well.
## How to install Pandas Library

In [70]:
# Write the following code in order to install Pandas library in your machine
#pip install pandas

## Importing Pandas as "pd" and Numpy as "np"

In [71]:
import pandas as pd
import numpy as np

## Creating an object of Pandas

In [72]:
obj = pd.Series([1,2,3,4,5,7,8,9,10])
obj

0     1
1     2
2     3
3     4
4     5
5     7
6     8
7     9
8    10
dtype: int64

## Creating Date Object in Pandas

In [73]:
dates = pd.date_range("20230401", periods=15)
dates

DatetimeIndex(['2023-04-01', '2023-04-02', '2023-04-03', '2023-04-04',
               '2023-04-05', '2023-04-06', '2023-04-07', '2023-04-08',
               '2023-04-09', '2023-04-10', '2023-04-11', '2023-04-12',
               '2023-04-13', '2023-04-14', '2023-04-15'],
              dtype='datetime64[ns]', freq='D')

## Creating a Data Frame with random values of dates(It's interesting)

In [74]:
df = pd.DataFrame(np.random.randn(15, 4), index = dates, columns=list("ABCD"))
df

                   A         B         C         D
2023-04-01  1.044029  0.096359 -0.114849  0.005282
2023-04-02 -0.293896  0.099762 -1.010125 -0.624786
2023-04-03  0.148142 -0.511726 -1.423696 -0.369039
2023-04-04  0.172185 -1.307502 -0.451597  0.558139
2023-04-05  1.574522  0.524274  0.363028  0.066928
2023-04-06  1.256306  1.752615  1.415917 -0.082448
2023-04-07 -1.223293  1.119956 -0.167142  1.106605
2023-04-08  0.366531 -0.492416 -0.139063  0.146994
2023-04-09 -1.316856 -0.860558 -0.283813  0.042775
2023-04-10  0.224783 -1.292685 -0.413420  0.803375
2023-04-11  0.858395  0.093745  0.754987  0.378692
2023-04-12  1.260176 -0.162212  0.404080  0.257300
2023-04-13  1.326374  0.833808  0.160673 -1.127520
2023-04-14 -1.919472  1.237516 -1.470363 -2.000844
2023-04-15 -0.229746  1.520181  0.052829 -1.308324

## Conveting the Above data into Numpy Array

In [75]:
df.to_numpy()

array([[ 1.04402927,  0.09635896, -0.11484875,  0.00528175],
       [-0.29389646,  0.09976217, -1.010125  , -0.62478609],
       [ 0.14814193, -0.51172611, -1.42369581, -0.36903939],
       [ 0.17218497, -1.30750207, -0.45159653,  0.55813888],
       [ 1.57452241,  0.5242742 ,  0.363028  ,  0.0669279 ],
       [ 1.25630563,  1.75261482,  1.41591669, -0.08244849],
       [-1.223293  ,  1.11995568, -0.16714233,  1.10660543],
       [ 0.36653115, -0.49241566, -0.13906315,  0.14699365],
       [-1.31685613, -0.8605576 , -0.28381334,  0.04277457],
       [ 0.22478299, -1.29268493, -0.41342041,  0.80337474],
       [ 0.85839526,  0.09374517,  0.75498732,  0.37869229],
       [ 1.26017622, -0.16221219,  0.40408037,  0.25730003],
       [ 1.32637445,  0.83380767,  0.16067305, -1.12751965],
       [-1.91947249,  1.23751558, -1.4703627 , -2.00084421],
       [-0.22974611,  1.52018135,  0.05282851, -1.30832419]])

## Describe Function

In [76]:
df.describe()

               A          B          C          D
count  15.000000  15.000000  15.000000  15.000000
mean    0.216545   0.176741  -0.154837  -0.143125
std     1.062973   0.976500   0.768300   0.829437
min    -1.919472  -1.307502  -1.470363  -2.000844
25%    -0.261821  -0.502071  -0.432508  -0.496913
50%     0.224783   0.096359  -0.139063   0.042775
75%     1.150167   0.976882   0.261851   0.317996
max     1.574522   1.752615   1.415917   1.106605

## Data Transpose( For reff: Transpose of a Matrix)

In [94]:
df.T

,2023-04-01,2023-04-02,2023-04-03,2023-04-04,2023-04-05,2023-04-06,2023-04-07,2023-04-08,2023-04-09,2023-04-10,2023-04-11,2023-04-12,2023-04-13,2023-04-14,2023-04-15
A,1.044029,-0.293896,0.148142,0.172185,1.574522,1.256306,-1.223293,0.366531,-1.316856,0.224783,0.858395,1.260176,1.326374,-1.919472,-0.229746
B,0.096359,0.099762,-0.511726,-1.307502,0.524274,1.752615,1.119956,-0.492416,-0.860558,-1.292685,0.093745,-0.162212,0.833808,1.237516,1.520181
C,-0.114849,-1.010125,-1.423696,-0.451597,0.363028,1.415917,-0.167142,-0.139063,-0.283813,-0.413420,0.754987,0.404080,0.160673,-1.470363,0.052829
D,0.005282,-0.624786,-0.369039,0.558139,0.066928,-0.082448,1.106605,0.146994,0.042775,0.803375,0.378692,0.257300,-1.127520,-2.000844,-1.308324

## Asscending Data(Sorting)

In [78]:
df.sort_index(axis=1, ascending= True)

                   A         B         C         D
2023-04-01  1.044029  0.096359 -0.114849  0.005282
2023-04-02 -0.293896  0.099762 -1.010125 -0.624786
2023-04-03  0.148142 -0.511726 -1.423696 -0.369039
2023-04-04  0.172185 -1.307502 -0.451597  0.558139
2023-04-05  1.574522  0.524274  0.363028  0.066928
2023-04-06  1.256306  1.752615  1.415917 -0.082448
2023-04-07 -1.223293  1.119956 -0.167142  1.106605
2023-04-08  0.366531 -0.492416 -0.139063  0.146994
2023-04-09 -1.316856 -0.860558 -0.283813  0.042775
2023-04-10  0.224783 -1.292685 -0.413420  0.803375
2023-04-11  0.858395  0.093745  0.754987  0.378692
2023-04-12  1.260176 -0.162212  0.404080  0.257300
2023-04-13  1.326374  0.833808  0.160673 -1.127520
2023-04-14 -1.919472  1.237516 -1.470363 -2.000844
2023-04-15 -0.229746  1.520181  0.052829 -1.308324

## Sorting By Value
If we want to sort any data frame accoring to a specific column

In [79]:
df.sort_values(by="B")

                   A         B         C         D
2023-04-04  0.172185 -1.307502 -0.451597  0.558139
2023-04-10  0.224783 -1.292685 -0.413420  0.803375
2023-04-09 -1.316856 -0.860558 -0.283813  0.042775
2023-04-03  0.148142 -0.511726 -1.423696 -0.369039
2023-04-08  0.366531 -0.492416 -0.139063  0.146994
2023-04-12  1.260176 -0.162212  0.404080  0.257300
2023-04-11  0.858395  0.093745  0.754987  0.378692
2023-04-01  1.044029  0.096359 -0.114849  0.005282
2023-04-02 -0.293896  0.099762 -1.010125 -0.624786
2023-04-05  1.574522  0.524274  0.363028  0.066928
2023-04-13  1.326374  0.833808  0.160673 -1.127520
2023-04-07 -1.223293  1.119956 -0.167142  1.106605
2023-04-14 -1.919472  1.237516 -1.470363 -2.000844
2023-04-15 -0.229746  1.520181  0.052829 -1.308324
2023-04-06  1.256306  1.752615  1.415917 -0.082448

## Printing Specific Rows

In [80]:
#printing first three rows
df[0:3]

                   A         B         C         D
2023-04-01  1.044029  0.096359 -0.114849  0.005282
2023-04-02 -0.293896  0.099762 -1.010125 -0.624786
2023-04-03  0.148142 -0.511726 -1.423696 -0.369039

## If we want to print all the values of any specific row

In [81]:
df.loc[dates[2]]

A    0.148142
B   -0.511726
C   -1.423696
D   -0.369039
Name: 2023-04-03 00:00:00, dtype: float64

## If we want to print the specific columns of the speific rows

In [82]:
# in this example, we are printing just A and B columns of all the rows
df.loc[:, ["A", "B"]]

                   A         B
2023-04-01  1.044029  0.096359
2023-04-02 -0.293896  0.099762
2023-04-03  0.148142 -0.511726
2023-04-04  0.172185 -1.307502
2023-04-05  1.574522  0.524274
2023-04-06  1.256306  1.752615
2023-04-07 -1.223293  1.119956
2023-04-08  0.366531 -0.492416
2023-04-09 -1.316856 -0.860558
2023-04-10  0.224783 -1.292685
2023-04-11  0.858395  0.093745
2023-04-12  1.260176 -0.162212
2023-04-13  1.326374  0.833808
2023-04-14 -1.919472  1.237516
2023-04-15 -0.229746  1.520181

## If we want to print the values of a specific rows
    For this, we have to specify the rows whose specific columns we want to print

In [83]:
df.loc["20230401" : "20230405", ["A", "B"]]

                   A         B
2023-04-01  1.044029  0.096359
2023-04-02 -0.293896  0.099762
2023-04-03  0.148142 -0.511726
2023-04-04  0.172185 -1.307502
2023-04-05  1.574522  0.524274

### From above, we are using comma instead of colon, just see the difference

In [84]:
#We are printing just row 1 and row 5 specific columns
df.loc[["20230401", "20230405"], ["A", "B"]]

                   A         B
2023-04-01  1.044029  0.096359
2023-04-05  1.574522  0.524274

### If we want to print the columns of a specific row

In [85]:
df.loc["20230405", ["A", "B", "C"]]

A    1.574522
B    0.524274
C    0.363028
Name: 2023-04-05 00:00:00, dtype: float64

### If we want to print a specific cell,  then we will give it's index

In [86]:
df.at[dates[0], "A" ]

1.0440292741051838

### If we want to print what is placed at 3 location/position in the data frame

In [87]:
df.iloc[3]
#it will print all the  values of 3rd row

A    0.172185
B   -1.307502
C   -0.451597
D    0.558139
Name: 2023-04-04 00:00:00, dtype: float64

### If we want to print what is placed at 3 to 10 location/position in the data fram

In [88]:
df.iloc[3:10]

                   A         B         C         D
2023-04-04  0.172185 -1.307502 -0.451597  0.558139
2023-04-05  1.574522  0.524274  0.363028  0.066928
2023-04-06  1.256306  1.752615  1.415917 -0.082448
2023-04-07 -1.223293  1.119956 -0.167142  1.106605
2023-04-08  0.366531 -0.492416 -0.139063  0.146994
2023-04-09 -1.316856 -0.860558 -0.283813  0.042775
2023-04-10  0.224783 -1.292685 -0.413420  0.803375

### What if we want to print values from origin to bottom and right side

In [89]:
df.iloc[0:5, 0:3]

                   A         B         C
2023-04-01  1.044029  0.096359 -0.114849
2023-04-02 -0.293896  0.099762 -1.010125
2023-04-03  0.148142 -0.511726 -1.423696
2023-04-04  0.172185 -1.307502 -0.451597
2023-04-05  1.574522  0.524274  0.363028

### If we want to print the values of column A whoese vaues are greater than 0

In [90]:
df[df["A"] > 0]

                   A         B         C         D
2023-04-01  1.044029  0.096359 -0.114849  0.005282
2023-04-03  0.148142 -0.511726 -1.423696 -0.369039
2023-04-04  0.172185 -1.307502 -0.451597  0.558139
2023-04-05  1.574522  0.524274  0.363028  0.066928
2023-04-06  1.256306  1.752615  1.415917 -0.082448
2023-04-08  0.366531 -0.492416 -0.139063  0.146994
2023-04-10  0.224783 -1.292685 -0.413420  0.803375
2023-04-11  0.858395  0.093745  0.754987  0.378692
2023-04-12  1.260176 -0.162212  0.404080  0.257300
2023-04-13  1.326374  0.833808  0.160673 -1.127520

### If we want to print all the values in the data frame if a speific condition is true

In [91]:
df[df > 0]

                   A         B         C         D
2023-04-01  1.044029  0.096359       NaN  0.005282
2023-04-02       NaN  0.099762       NaN       NaN
2023-04-03  0.148142       NaN       NaN       NaN
2023-04-04  0.172185       NaN       NaN  0.558139
2023-04-05  1.574522  0.524274  0.363028  0.066928
2023-04-06  1.256306  1.752615  1.415917       NaN
2023-04-07       NaN  1.119956       NaN  1.106605
2023-04-08  0.366531       NaN       NaN  0.146994
2023-04-09       NaN       NaN       NaN  0.042775
2023-04-10  0.224783       NaN       NaN  0.803375
2023-04-11  0.858395  0.093745  0.754987  0.378692
2023-04-12  1.260176       NaN  0.404080  0.257300
2023-04-13  1.326374  0.833808  0.160673       NaN
2023-04-14       NaN  1.237516       NaN       NaN
2023-04-15       NaN  1.520181  0.052829       NaN

### What if we want to add a new column in the data frame

In [92]:
df["E"] = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
df
# Check the new column with E, its also called Concatination

                   A         B         C         D   E
2023-04-01  1.044029  0.096359 -0.114849  0.005282   1
2023-04-02 -0.293896  0.099762 -1.010125 -0.624786   2
2023-04-03  0.148142 -0.511726 -1.423696 -0.369039   3
2023-04-04  0.172185 -1.307502 -0.451597  0.558139   4
2023-04-05  1.574522  0.524274  0.363028  0.066928   5
2023-04-06  1.256306  1.752615  1.415917 -0.082448   6
2023-04-07 -1.223293  1.119956 -0.167142  1.106605   7
2023-04-08  0.366531 -0.492416 -0.139063  0.146994   8
2023-04-09 -1.316856 -0.860558 -0.283813  0.042775   9
2023-04-10  0.224783 -1.292685 -0.413420  0.803375  10
2023-04-11  0.858395  0.093745  0.754987  0.378692  11
2023-04-12  1.260176 -0.162212  0.404080  0.257300  12
2023-04-13  1.326374  0.833808  0.160673 -1.127520  13
2023-04-14 -1.919472  1.237516 -1.470363 -2.000844  14
2023-04-15 -0.229746  1.520181  0.052829 -1.308324  15

### What if we want to update the data frame OR we want to remove the last column in the data frame

In [93]:
df= df.iloc[:, 0:4]
df
#done:):)

                   A         B         C         D
2023-04-01  1.044029  0.096359 -0.114849  0.005282
2023-04-02 -0.293896  0.099762 -1.010125 -0.624786
2023-04-03  0.148142 -0.511726 -1.423696 -0.369039
2023-04-04  0.172185 -1.307502 -0.451597  0.558139
2023-04-05  1.574522  0.524274  0.363028  0.066928
2023-04-06  1.256306  1.752615  1.415917 -0.082448
2023-04-07 -1.223293  1.119956 -0.167142  1.106605
2023-04-08  0.366531 -0.492416 -0.139063  0.146994
2023-04-09 -1.316856 -0.860558 -0.283813  0.042775
2023-04-10  0.224783 -1.292685 -0.413420  0.803375
2023-04-11  0.858395  0.093745  0.754987  0.378692
2023-04-12  1.260176 -0.162212  0.404080  0.257300
2023-04-13  1.326374  0.833808  0.160673 -1.127520
2023-04-14 -1.919472  1.237516 -1.470363 -2.000844
2023-04-15 -0.229746  1.520181  0.052829 -1.308324