# Pandas Library Basics
We are going to learn how to use Pandas library, how to install and some baics as well.
## How to install Pandas Library

In [ ]:
# Write the following code in order to install Pandas library in your machine
#pip install pandas

## Importing Pandas as "pd" and Numpy as "np"

In [ ]:
import pandas as pd
import numpy as np

## Creating an object of Pandas

In [ ]:
obj = pd.Series([1,2,3,4,5,7,8,9,10])
obj

## Creating Date Object in Pandas

In [ ]:
dates = pd.date_range("20230401", periods=15)
dates

## Creating a Data Frame with random values of dates(It's interesting)

In [ ]:
df = pd.DataFrame(np.random.randn(15, 4), index = dates, columns=list("ABCD"))
df

## Conveting the Above data into Numpy Array

In [ ]:
df.to_numpy()

## Describe Function

In [ ]:
df.describe()

## Data Transpose( For reff: Transpose of a Matrix)

In [ ]:
df.T

## Asscending Data(Sorting)

In [ ]:
df.sort_index(axis=1, ascending= True)

## Sorting By Value
If we want to sort any data frame accoring to a specific column

In [42]:
df.sort_values(by="B")

                   A         B         C         D
2023-04-12  0.512581 -1.957038 -0.181653  1.266624
2023-04-07 -1.031351 -1.758079 -1.608343  0.401359
2023-04-04  0.885524 -1.705594  1.320365  0.814354
2023-04-02  0.398491 -1.531123 -0.589833  0.545911
2023-04-03  0.310490 -1.139149  0.269000 -0.706085
2023-04-15  0.002587 -1.013163 -0.190435  1.311750
2023-04-11 -2.056369 -0.586400  1.349013  1.316915
2023-04-13 -0.796304 -0.095104 -2.166014  0.639583
2023-04-14 -0.200340  0.565396 -0.231558  1.068731
2023-04-10  0.369280  0.568641 -1.213805  0.195680
2023-04-09 -0.843951  0.589519 -0.381381 -0.760275
2023-04-05 -1.944534  0.608699 -0.431342  0.748218
2023-04-08  0.273298  0.616606  0.799361  0.280626
2023-04-06  0.223783  0.905702  1.065765  0.795471
2023-04-01  0.153053  0.907613 -0.354844  1.209288

## Printing Specific Rows

In [43]:
#printing first three rows
df[0:3]

                   A         B         C         D
2023-04-01  0.153053  0.907613 -0.354844  1.209288
2023-04-02  0.398491 -1.531123 -0.589833  0.545911
2023-04-03  0.310490 -1.139149  0.269000 -0.706085

## If we want to print the values of all the rows

In [48]:
df.loc[dates[2]]

A    0.310490
B   -1.139149
C    0.269000
D   -0.706085
Name: 2023-04-03 00:00:00, dtype: float64

## If we want to print the specific columns of the speific rows

In [51]:
# in this example, we are printing just A and B columns of all the rows
df.loc[:, ["A", "B"]]

                   A         B
2023-04-01  0.153053  0.907613
2023-04-02  0.398491 -1.531123
2023-04-03  0.310490 -1.139149
2023-04-04  0.885524 -1.705594
2023-04-05 -1.944534  0.608699
2023-04-06  0.223783  0.905702
2023-04-07 -1.031351 -1.758079
2023-04-08  0.273298  0.616606
2023-04-09 -0.843951  0.589519
2023-04-10  0.369280  0.568641
2023-04-11 -2.056369 -0.586400
2023-04-12  0.512581 -1.957038
2023-04-13 -0.796304 -0.095104
2023-04-14 -0.200340  0.565396
2023-04-15  0.002587 -1.013163

## If we want to print the values of a specific rows
    For this, we have to specify the rows whose specific columns we want to print

In [52]:
df.loc["20230401" : "20230405", ["A", "B"]]

                   A         B
2023-04-01  0.153053  0.907613
2023-04-02  0.398491 -1.531123
2023-04-03  0.310490 -1.139149
2023-04-04  0.885524 -1.705594
2023-04-05 -1.944534  0.608699

### From above, we are using comma instead of colon, just see the difference

In [54]:
#We are printing just row 1 and row 5 specific columns
df.loc[["20230401", "20230405"], ["A", "B"]]

                   A         B
2023-04-01  0.153053  0.907613
2023-04-05 -1.944534  0.608699

### If we want to print the columns of a specific row

In [55]:
df.loc["20230405", ["A", "B", "C"]]

A   -1.944534
B    0.608699
C   -0.431342
Name: 2023-04-05 00:00:00, dtype: float64